// Black
$abbey: #585a5d;
$black: #000;
$dark: #383838;
$dolphin: #6b6b79;
$ebony: #03060c;
$grey: #b5b5b5;
$grey2: #808080;
$scorpion: #585656;

// White
$mischka: #d4d9e0;
$off-white: #d0d0d0;
$selago: #e4e4fb;
$white: #fff;

// Blue
$blue: #2e2888;
