@import '~styles/colors';
@import '~styles/vars';

@keyframes bringUp {
  0% {
    margin-top: 100vh;
  }

  10% {
    margin-bottom: 20vh;
    margin-top: 0;
  }

  30% {
    margin-bottom: 0;
    margin-top: 10vh;
  }

  50% {
    margin-bottom: 5vh;
    margin-top: 0;
  }

  75% {
    margin-bottom: 0;
    margin-top: 1vh;
  }

  100% {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@keyframes takeDown {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 200vh;
  }
}

.uq-Modal {
  display: none;
  position: fixed;
  z-index: $third-highest-z-index;

  &-backdrop {
    background-color: $dark;
    height: 100vh;
    opacity: $backdrop-opacity;
    position: fixed;
    width: 100vw;
    z-index: $second-highest-z-index;
  }

  &-contentWrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: $highest-z-index;
  }

  &-content {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 40vw;
  }

  &.is-shown {
    display: block;
  }

  &.is-shown &-content {
    animation-duration: 1s;
    animation-name: bringUp;
  }

  &.is-blurring &-content {
    animation-duration: 0.5s;
    animation-name: takeDown;
    margin-top: 200vh;
  }

  &.is-blurring &-backdrop {
    opacity: 0;
    transition: opacity 0.25s linear;
  }

  &-header {
    align-items: center;
    background-color: $ebony;
    border-radius: 8px 8px 0 0;
    color: $selago;
    display: flex;
    height: 2em;
    justify-content: center;
  }

  &-body {
    align-items: center;
    background-color: $mischka;
    border-radius: 0 0 8px 8px;
    color: $black;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow-y: auto;
  }
}
